@mixin h1 {
  font-size: $fz-h1;
  font-weight: $fw-bold;
  line-height: 1.2;
  // margin: 0 0 $m-y;
}

@mixin h2 {
  font-size: $fz-h2;
  font-weight: $fw-bold;
  line-height: 1.2;
  // margin: 0 0 $m-y;
}

@mixin label {
  font-size: $fz-label;
  font-weight: $fw-semi-bold;
  line-height: 1.2;
  // margin: 0 0 $m-y;
}

@mixin body {
  font-size: $fz-body;
  font-weight: $fw-light;
  line-height: 1.2;
  // margin: 0 0 $m-y;
}
