@font-face {
  font-family: 'AvengeanceHeroicAvenger';
  src: url('AvengeanceHeroicAvengerBold.eot');
  src: url('AvengeanceHeroicAvengerBold.eot?#iefix') format('embedded-opentype'),
    url('AvengeanceHeroicAvengerBold.woff2') format('woff2'),
    url('AvengeanceHeroicAvengerBold.woff') format('woff'),
    url('AvengeanceHeroicAvengerBold.ttf') format('truetype'),
    url('AvengeanceHeroicAvengerBold.svg#AvengeanceHeroicAvengerBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('FuturaStd-Medium.eot');
  src: url('FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('FuturaStd-Medium.woff2') format('woff2'), url('FuturaStd-Medium.woff') format('woff'),
    url('FuturaStd-Medium.ttf') format('truetype'),
    url('FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('FuturaStd-Bold.eot');
  src: url('FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('FuturaStd-Bold.woff2') format('woff2'), url('FuturaStd-Bold.woff') format('woff'),
    url('FuturaStd-Bold.ttf') format('truetype'),
    url('FuturaStd-Bold.svg#FuturaStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('FuturaStd-Light.eot');
  src: url('FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
    url('FuturaStd-Light.woff2') format('woff2'), url('FuturaStd-Light.woff') format('woff'),
    url('FuturaStd-Light.ttf') format('truetype'),
    url('FuturaStd-Light.svg#FuturaStd-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
