@import '../../theme/mixins/flexbox';
@import '../../theme/mixins/breakpoints';

.swiper-container {
  padding-top: 15%;
  transition: opacity 1s ease-in-out;
  opacity: 0;

  &.animate {
    opacity: 1;
  }

  .swiper-wrapper {
    left: -8%;
  }
}

.carousel-slide {
  width: 65%;

  .ItemComic {
    width: 100%;
    transition: width 0.7s ease-in-out, opacity 0.7s ease-in-out;
    transform-origin: left top;
    transform-style: preserve-3d;
    opacity: 0;

    h1 {
      transition: font-size 0.4s ease-in-out;
    }
  }

  &.swiper-slide-active .ItemComic {
    opacity: 1;
  }

  &:not(.swiper-slide-active) .ItemComic {
    opacity: 0.4;
    width: 50%;

    .text-body,
    h1 {
      font-size: 1rem;
    }
  }
}

@include breakpoint(desktop) {
  .swiper-container {
    padding-top: 3%;

    .swiper-wrapper {
      left: -30%;
    }
  }

  .carousel-slide {
    width: 19%;

    .ItemComic {
      margin: 0 auto;
    }
  }
}
