@import '../../theme/variables';

.Header {
  padding-top: 15rem;

  &--mini {
    transition: padding 1s ease-in-out;
    padding-top: 2rem;
  }
}

.page {
  background-image: url('../../assets/images/background2.png');
  background-size: 100% 100%;
  transition: background-image 0.7s ease-in-out, opacity 0.3s ease-in-out;

  &__detail {
    background-image: url('../../assets/images/background.png');
  }

  .LoadingContent {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
  }

  .copyright {
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;

    &.detail {
      opacity: 0;
    }
  }
}
