@import '../../theme/mixins/breakpoints';
@import '../../theme/mixins/flexbox';
@import '../../theme/variables';

.Header {
  .col {
    width: 33.3%;
    text-align: center;

    i {
      font-size: 2rem;
      color: $c-dark;
    }
  }

  @include flex-content(row, center, center);

  img {
    width: 50%;
  }

  &--mini {
    img {
      width: 173px;
      width: 45%;
    }
  }
}

@include breakpoint(desktop) {
  .Header {
    &--mini {
      img {
        width: 20%;
      }
    }
  }
}
