@import '../../theme/mixins/flexbox';
@import '../../theme/mixins/breakpoints';

.swiper-container {
  padding-top: 15%;
}

.carousel-slide {
  width: 40%;

  // transform-origin: left top;
  // transform-style: preserve-3d;

  .ItemComic {
    transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform-origin: left top;
    transform-style: preserve-3d;
  }

  &:not(.swiper-slide-active) .ItemComic {
    opacity: 0.4;

    .text-body,
    h1 {
      font-size: 1.4rem;
    }
  }
}

@include breakpoint(desktop) {
  .swiper-container {
    padding-top: 3%;
  }
}
