@import '../../theme/mixins/flexbox';

// .ItemComic__image {
//   transition: width .7s ease-in-out;
// }

.ItemComic {
  transition: transform 0.7s ease-in-out;
  transform-origin: left top;
  transform-style: preserve-3d;
}

.slick-slide:not(.slick-active) {
  .ItemComic {
    // width: 150px;
    transform: scale(0.5);
  }
}
