@import '../../theme/mixins/flexbox';
@import '../../theme/mixins/breakpoints';
@import '../../theme/mixins/animations';
@import '../../theme/variables';

.modal {
  height: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.85;
}

.modal-wrapper {
  position: fixed;
  padding: 0.5rem;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-header {
  @include flex-content(row, center, flex-end);
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;

  button {
    background: transparent;
    outline: none;
    border: 0;
  }

  i {
    font-size: 3rem;
    color: white;
  }
}

.modal-body {
  height: 87%;

  .SearchBar {
    width: 80%;
    margin-top: 2%;
    height: 10%;
  }

  .container-search {
    width: 80%;
    height: 90%;
    overflow: auto;
    margin: 0 auto;
    padding: 2%;
    color: white;
  }

  .no-content {
    width: 100%;
    font-size: $fz-body;
    @include flex-content(row, center, center);
  }

  .content-loading {
    @include flex-content(row, center, center);

    i {
      font-size: 5rem;
      margin: 0 auto;
      @include animation(spin, 3s, linear, infinite);
    }

    &--small {
      width: 100%;
      i {
        font-size: 2rem;
      }
    }
  }

  .ItemSearchComic {
    margin-bottom: 2em;
  }

  @include breakpoint(desktop) {
    .ItemSearchComic {
      width: 33%;
    }

    .container-search {
      height: 80%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
