@import '../../theme/mixins/flexbox';
@import '../../theme/mixins/breakpoints';

.Detail-page {
  position: relative;
  box-sizing: border-box;
  padding: 5em 2em 0px 40px;
  height: 87%;
  @include flex-content(row, flex-start, flex-start);
  align-content: flex-start;
  @include flex-wrap(wrap);

  .content-left {
    width: 80%;
    transition: width 0.3s ease-out;
  }

  .ItemComic {
    .text-body,
    h1 {
      display: none;
    }
  }

  .content-right {
    width: 0%;
    padding: 0 2em;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.2s;
    @include flex-content(column, flex-start, space-between);

    .content-body {
      display: none;
    }
  }

  .content-body {
    margin-top: 4%;
    max-height: 70%;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.2s;
    @include flex-content(column, flex-start, flex-start);

    .label {
      text-transform: capitalize;
      margin-bottom: 0.5em;
    }

    .content-creators {
      margin: 1em 0;
      @include flex-content(row, flex-start, flex-start);
      @include flex-wrap(wrap);

      .creator {
        margin-right: 2em;
        margin-bottom: 1em;
      }
    }
  }

  &.animate {
    .content-left {
      width: 33%;
    }

    .content-right {
      width: 66%;
    }

    .content-body,
    .content-right {
      opacity: 1;
    }
  }

  @include breakpoint(desktop) {
    padding: 2em 2em 0px 70px;
    @include flex-wrap(nowrap);

    .content-body {
      display: none;
      width: 100%;
    }

    .content-right {
      width: 100%;

      h1 {
        width: 70%;
      }

      height: 79%;
      @include flex-content(row, flex-start, space-between);
      align-content: flex-start;
      @include flex-wrap(wrap);

      .content-body {
        display: block;
      }
    }

    &.animate {
      .content-left {
        width: 31%;
      }

      .content-right {
        width: 100%;
      }
    }
  }
}
