@import '../../theme/mixins/flexbox';

.Detail-page {
  position: relative;
  box-sizing: border-box;
  padding: 0px 0 0px 50px;
  padding-top: 5em;

  .content-header {
    width: 100%;
    height: 26%;
    margin-bottom: 2%;

    @include flex-content(row, flex-start, flex-start);

    .ItemComic {
      transition: width 0.3s ease-out;
    }

    .content-right {
      width: 66.6%;
      height: 100%;
      padding: 0 2em;
      box-sizing: border-box;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      transition-delay: 0.2s;
      @include flex-content(column, flex-start, space-between);
    }
  }

  .content-body {
    margin-top: 4%;
    height: 57%;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.2s;

    .label {
      margin-bottom: 0.5em;
    }

    .content-creators {
      margin: 1em 0;
      @include flex-content(row, flex-start, flex-start);
      @include flex-wrap(wrap);

      .creator {
        margin-right: 2em;
        margin-bottom: 1em;
      }
    }
  }

  &.animate {
    .ItemComic {
      width: 33.3%;

      h1 {
        display: none;
      }
    }

    .content-body,
    .content-right {
      opacity: 1;
    }
  }
}
