@import '../../theme/mixins/flexbox';
@import '../../theme/mixins/breakpoints';

.ItemComic {
  width: 100%;

  &__image {
    width: 100%;
    max-width: 232px;
    box-shadow: 6px 6px 20px 0 #000000;
  }

  h1 {
    margin-top: 0.7em;
  }

  .text-body {
    margin-top: 2%;
  }

  @include breakpoint(desktop) {
    &__image {
      max-width: 400px;
    }
  }
}
